@inherits LayoutComponentBase
<RadzenTooltip />
<RadzenDialog />
<div class="page">
	<main>
		<div class="top-row px-4 d-flex align-items-center justify-content-between">
			<span class="bold-large-text">The Remarkable Financial Strategy & Future Planning Calculator</span>
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
