@inherits LayoutComponentBase
<RadzenTooltip />
<RadzenDialog />
<div id="main-container" class="page">
	<div id="navMenuDiv" class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4 d-flex align-items-center justify-content-between">
			<span class="bold-large-text">The Remarkable Financial Strategy & Future Planning Calculator</span>
			<a href="/Settings">Settings</a>
		</div>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
